<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render "layouts/user_info", signin_user: @signin_user, new_book: @new_book %>
		</div>
		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr>
						<td><%= attachment_image_tag @user, :profile_image, :fill, 30,30, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %></td>
						<td><%= link_to @book.title, book_path(@book) %></td>
						<td><%= @book.body %></td>
						<% if @book.user == current_user %>
							<td><%= link_to "Edlit", edit_book_path, class: "btn-success btn-sm" %></td>
							<td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-danger btn-sm" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>